/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.playgroundSection {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  padding: 0 2rem 3rem;
}

@media screen and (max-width: 996px) {
  .playgroundSection {
    padding: 0 1.25rem 2.5rem;
  }
}
